.container {
    margin: auto;
    padding: auto;
    width: 80%;
}

.entete, .logo, .titre {
    height: 3em;
}
.logo {
    align-content: center;
    grid-area: logo;
    height: 3em;
}

.navigation_item {
    align-content: space-between;
}

.navigation {
    grid-area: navigation;
}

.titre {
    grid-area: titre;
    font-size: 2em;
}

.navigation {
    display: inline;
    grid-area: navigation;
}

nav {
    align-content: space-between;
}

.entete {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "logo titre"
    ". navigation";
    padding: 5em;
    align-content: space-between;
}

#big01 {
    width: 100%;
    align-content: center;
    position: relative;
    align-items: center;
    align-content: center;
}

#big01 p {
    align-content: center;
    margin: 5%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 50%;
}

.game_01 {
    grid-area: game_01;
}

.game_02 {
    grid-area: game_02;
}

.game_03 {
    grid-area: game_03;
}
.game_04 {
    grid-area: game_04;
}
.game_05 {
    grid-area: game_05;
}
.game_06 {
    grid-area: game_06;
}
.game_07 {
    grid-area: game_07;
}
.game_08 {
    grid-area: game_08;
}
.game_09 {
    grid-area: game_09;
}
.game_10 {
    grid-area: game_10;
}
.game_11 {
    grid-area: game_11;
}
.game_12 {
    grid-area: game_12;
}
.game_13 {
    grid-area: game_13;
}
.game_14 {
    grid-area: game_14;
}
.game_15 {
    grid-area: game_15;
}
.game_16 {
    grid-area: game_16;
}
.game_17 {
    grid-area: game_17;
}
.game_18 {
    grid-area: game_18;
}
.game_19 {
    grid-area: game_19;
}
.game_20 {
    grid-area: game_20;
}

.galerie {
    display: grid;
    grid-column: 15% 15% 15% 15% 15%;
    grid-template-areas: 
    "game_01 game_02 game_03 game_04 game_05"
    "game_06 game_07 game_08 game_09 game_10"
    "game_11 game_12 game_13 game_14 game_15"
    "game_16 game_17 game_18 game_19 game_20";
    gap: 1%;
}

.galerie h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    padding: 1em;
}

.galerie p {
    text-align: center;
    justify-content: space-around;
    padding: 2em;
}

.galerie figure {
    border: gray 1px solid;
}

footer {
    text-align: center;
}