body {
    width: 80%;
    margin: auto;
    background-image: url("../images/wallpaper.jpg");
    background-attachment: fixed;
}

#logo {
    margin-left: 10%;
    height: 100%;
    grid-area: logo;
}

#titre {
    grid-area: titre;
    margin-top: 1em;
    font-family: 'Luxurious Script', cursive;
    color: aliceblue;
    font-size: 4em;
}

#menu {
    grid-area: menu;
    text-align: center;
}

nav a {
    color: greenyellow;
    margin-left: 1em;
    margin-right: 1em;
}
#header {
    background-image: url("../images/big_img.jpg");
    border-radius: 50% 50% 50% 50%;
    width: 100%;
    margin-bottom: 5em;
    margin-top: 1em;
    align-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "logo titre"
    "logo menu";
}

#header, #logo img {
    height: 15em;
}

#imgatexte {
    margin-bottom: 5em;
}

#imagetexte img {
    width: 100%;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    position: relative;
    margin-bottom: 5em;
}

#imagetexte h2{
    color: aliceblue;
}

#imagetexte p {
    color: white;
}

#presentation {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 20%;
    background-color: rgba(128, 128, 128, 0.6);
}

#presentation h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-top: 1em;
}
#presentation div {
    width: 100%;
    border-bottom: 2px solid red;
    margin-bottom: 2em;
    margin-top: 2em;
}

#galerie img {
    width: 100%;
}
#galerie {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 2.5%;
    grid-template-areas:
    "";
}

#galerie figure {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

#galerie figure h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    color: rgba(255, 0, 0);
}

#galerie figure div {
    font-weight: bold;
    text-decoration-line: underline;
    margin-bottom: 1em;
    margin-left: 1em;
}

#galerie figure p {
    margin: 1em;
    color: black;
    font-style: italic;
}

#footer {
    font-weight: bold;
    background-color: gray;
    text-align: center;
}